<div class="frames-container">
    <div class="text-content">
        <div class="hero-container">
        <h1 class="hero-title">
            Designed for everyone.<br>
            Loved Everywhere.
        </h1>
        <p class="hero-subtitle">
            Join the thousands who have stopped guessing and started thriving. Discover the platform that turns complex health data into clear, actionable insights for a longer, stronger life.
        </p>
    </div>
    </div>
    <img src="../../../assets/images/Frames2.png" alt="">
    <!-- <img src="../../../assets/images/Frames.png" alt=""> -->
</div>