<div class="navbar-wrapper">
  <nav class="pill-nav">
    
    <div class="nav-left">
      <a routerLink="/home" class="brand-logo">
        <img class="logo" src="../../../assets/svg_icons/Logo white.svg" alt="">
      </a>
    </div>

    <div class="nav-center">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
      <div class="dropdown-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <a routerLinkActive="active-link" class="nav-link" style="cursor: pointer;">Features <i class="fa-solid fa-plus icon-transition" [class.rotate]="showDropDown"></i></a>
  
        <div class="dropdown-menu" [class.visible]="showDropDown">
          <a routerLink="/features/calories" class="dropdown-item">Calories</a>
          <a routerLink="/features/sleep-impact" class="dropdown-item">Sleep Impact</a>
          <a routerLink="/features/gut-health" class="dropdown-item">Gut Health</a>
        </div>
      </div>
      <a routerLink="/whyEndurance" routerLinkActive="active-link" class="nav-link">Why Endurance</a>

      <span class="divider"></span>

      <a routerLink="/contributions" routerLinkActive="active-link" class="nav-link">Contributions</a>
      <a routerLink="/contact" routerLinkActive="active-link" class="nav-link">Contact</a>
    </div>

    <div class="nav-right">
      <button class="btn-cta">Join Us</button>
    </div>
  </nav>
</div>