$accent-color: #fff;   
$text-white: #ffffff;
$text-black: #000;

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.pill-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;     
  height: 64px;          
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(12px);
  border-radius: 100px;  
  padding: 0 8px 0 32px; 
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.nav-left {
  flex: 0 0 auto;
  
  .brand-logo .logo {
    height: 30px;
  }
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1; 
  justify-content: center;

//   .nav-link {
//     color: $text-white;
//     text-decoration: none;
//     font-size: 15px;
//     font-weight: 400;
//     white-space: nowrap;
//     opacity: 0.6;
//     transition: opacity 0.2s;

//     &:hover {
//       opacity: 1;
//       font-weight: 500;
//     }
//   }
    .nav-link {
        color: $text-white;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.2s ease;
    }

    .nav-link.active,
    .nav-link.active-link {
        opacity: 1;
        color: #ffffff;
        font-weight: 500;
    }

    .nav-link:hover {
        opacity: 1;
        font-weight: 500;
    }

  .divider {
    display: block;
    width: 2px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 4px; 
  }
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto;

  .btn-cta {
    background-color: $accent-color;
    color: $text-black;
    border: none;
    
    height: 52px;
    padding: 0 32px;
    border-radius: 50px;
    
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.2s, transform 0.1s;

    &:hover {
      background-color: lighten($accent-color, 5%);
      transform: scale(1.02);
    }
    
    &:active {
      transform: scale(0.98);
    }
  }
}

@media (max-width: 992px) {
  .nav-center {
    display: none;
  }
  
  .pill-nav {
    justify-content: space-between; 
  }
}