<section class="hero-wrapper">
    <div class="container">
        <div class="feature-badge">
            <span class="dot"></span> Calorie Lens
        </div>
        <!-- <h1 class="main-headline">Eat with <span class="italic">Intention</span></h1> -->
         <h1 class="main-headline">
            Fuel with <span class="italic">Precision</span>
         </h1>
        <p class="sub-title">
            Stop manual logging. Simply snap a photo to instantly unlock a detailed 
            energy profile of your meal. Fuel your body with clarity, not guesswork.
        </p>
        <div class="ai-input-wrapper">
            <input type="text" class="ai-input" id="typingInput">
            <button class="submit-btn" aria-label="Submit">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 19V5M12 5L5 12M12 5L19 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="overlay-gradient"></div>
</section>

<div class="bento-grid">
        
</div>