<div class="carousel-track" 
     [class.smooth-transition]="transitionEnabled()"
     [style.transform]="'translateX(' +  (-(activeIndex() * 60) + 20) + '%)'">
    
    <!-- Add let i = $index -->
    @for(item of extendedItems; track item.id; let i = $index){ 
        <div class="carousel-card"
            [class.active]="i === activeIndex()" 
        > 
        <!-- Changed from item.id === activeItemId() to i === activeIndex() -->
            
            <div class="image-container" [style.background-color]="item.color">
                <span>{{ item.id }}</span>
            </div>
            <div class="text-content">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            </div>
        </div>
    }
</div>