<section class="hero-wrapper">
    <div class="container">
        <h1 class="main-headline">
        Sleep with <span class="italic">Intent</span>
        </h1>
        <p class="sub-title">
            Stop guessing why you’re tired. Sync your food logs with your wearable data to 
            reveal exactly how your diet dictates your deep sleep. Optimization starts on your plate.
        </p>
        <div class="ai-input-wrapper">
            <input type="text" class="ai-input" id="typingInput">
            <button class="submit-btn" aria-label="Submit">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 19V5M12 5L5 12M12 5L19 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="overlay-gradient"></div>
</section>

<section class="features">
    <div class="header-section">
        <h1 class="hero-title gradient-text">
            <span class="italic-accent">Beyond</span> just counting hours
        </h1>
        <p class="hero-subtitle">
            Sleep doesn't start when you close your eyes—it starts with what you eat. Analyze how your nutrition impacts your circadian rhythm and wake up to actionable insights, not just data
        </p>
    </div>

    <div class="dashboard-container">
        <div class="bento-card span-7" appFade [threshold]="0.5">
            <div class="text-content">
                <h2>Detect metabolic clashes instantly</h2>
                <p>Don't let a bad combo ruin a good day. Receive instant alerts when specific food pairings risk spiking your inflammation or disrupting your circadian rhythm</p>
            </div>
            <div class="card-interior-placeholder">
                <div class="combo-div">
                    <img class="combo" src="../../../assets/svg_icons/AdverseComboAlert.svg" alt="Sankey Chart">
                </div>
            </div>
        </div>
        <div class="bento-card span-5" appFade [threshold]="0.5">
            <div class="text-content">
                <h2>Wake up to a recovery plan, not just a score</h2>
                <p>Receive a daily "Morning Diagnostic" that links last night's sleep quality to today's meal plan, helping you eat your way back to 100% battery</p>
            </div>
            <div class="card-interior-placeholder">
                <img class="gm" src="../../../assets/svg_icons/GoodMorning.svg" alt="Sankey Chart">
            </div>
        </div>
    </div>
</section>

<div class="divider"></div>

<section class="journal">
    <div class="inner-card">
        <div class="text-section" appFade [threshold]="0.4">
            <p class="text-title">Context is the missing metric</p>
            <p class="text-description">Find the hidden patterns between your lifestyle choices and your health metrics using our AI-driven correlation engine. Wearables track what happened to your body. The Journal explains why. Connect your daily behaviors to your biological outcomes.</p>
        </div>
        <div class="card-section">
            <img appFade [threshold]="0.4" class="card-svg" src="../../../assets/svg_icons/Journal.svg" alt="">
        </div>
    </div>
</section>

<section class="integrations">
    <div class="header-section">
        <h1 class="hero-title gradient-text">
            Your Health Stack. <span class="italic-accent">United </span>
        </h1>
        <p class="hero-subtitle">
            Sync your favorite wearables to unlock deeper insights. Your device tracks the result, we analyze the cause.
        </p>
    </div>
    <app-integrations></app-integrations>
</section>