<section class="hero-wrapper">
    <div class="container">
        <h1 class="main-headline">
        Sleep with <span class="italic">Intent</span>
        </h1>
        <p class="sub-title">
            Stop guessing why you’re tired. Sync your food logs with your wearable data to 
            reveal exactly how your diet dictates your deep sleep. Optimization starts on your plate.
        </p>
        <div class="ai-input-wrapper">
            <input type="text" class="ai-input" id="typingInput">
            <button class="submit-btn" aria-label="Submit">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 19V5M12 5L5 12M12 5L19 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="overlay-gradient"></div>
</section>

<section class="features">
    
</section>