body, html {
  font-family: 'Manrope', sans-serif;
  background-color: #fff;
  margin: 0;       
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.divider {
  margin-top: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5b; 
  border-radius: 10px; 
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b5b5b; 
}

.gradient-text {
  background: linear-gradient(to right, #ffffff 0%, #a5c9ff 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block; 
}